body {
  background-image: url(images/pic.jpg);
  font-family: sans-serif;
}

h2 {
  color: #fff;
}

.login {
  padding: 1em;
  margin: 2em auto;
  width: 80%;
  max-height: max-content;
  background: #fff;
  border-radius: 3px;
}

label {
  font-size: 10pt;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="text"],
select,
input[type="email"],
input[type="input"],
input[type="date"],
textarea {
  border: 2px solid #bbb;
  padding: 2px;
  margin: 5px;
  border-radius: 3px;
  background: #fff;
  width: 75%;
  font-family: inherit;
  background-color: #ffffff;
  color: #080808;
}

input[type="text"]:focus,
select:focus,
input[type="email"]:focus,
input[type="input"]:focus,
input[type="date"]:focus,
textarea:focus {
  border: 2px solid #87bed8;
}

input[type="text"],
input[id="tanggal"] {
  width: max-content;
}

select {
  width: inherit;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  width: 98%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 10px 0px;
}

input[type="checkbox"] {
  margin-bottom: -2px;
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 3px solid #999;
  border-radius: 3px;
  background-color: #ebebeb;
  outline: 0;
}

input[type="checkbox"]:checked {
  background-color: #666;
}

.tombol {
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 9px 15px;
  margin-top: 10px;
}
